---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import {MockBrandsDB} from "../../utils/database/Brands-Mock-DB"
---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>{MockBrandsDB.title}</Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            {MockBrandsDB.logos.map((logo, index) => (
                <div
                    :key={index}
                    class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
                >
                    <img
                        src={logo.src}
                        width={logo.width}
                        height={logo.height}
                        alt={logo.alt}
                        class="h-14 sm:h-16 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105 md:grayscale group-hover:md:!grayscale-0 md:group-hover:!grayscale-0 group-hover:md:scale-105"
                    />
                </div>
            ))}
        </div>
        
    </Container>
</section>