---
import Container from "../shared/Container.astro";
import { CONTACT_TXT, CONTACT_URL } from "../../mock/public-txt";
---

<section id="contact" class="pb-20">
    <Container
        className="flex flex-col midmd:flex-row gap-10 lg:gap-12 text-center"
    >
        <div
            class="mx-auto text-center max-w-xl md:max-w-2xl relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:px-8"
        >
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2
                    class="mb-8 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
                >
                    {CONTACT_TXT.TITLE}
                </h2>
                <ul class="my-4 space-y-6">
                    <li>
                        <!-- <FormMensaje /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_MSJ}
                            class="flex items-center p-3 text-base font-bold relative py-2 px-8 text-white text-base font-bold nded-full overflow-hidden bg-[#2A4B90] rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#00AAD2]  before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Mensajeria</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormVentas /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_VENTAS}
                            class="flex items-center p-3 text-base font-bold relative py-2 px-8 text-white text-base font-bold nded-full overflow-hidden bg-[#2A4B90] rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#00AAD2]  before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Ventas y Servicios</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormTrabaja /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_TRABAJA}
                            class="flex items-center p-3 text-base font-bold relative py-2 px-8 text-white text-base font-bold nded-full overflow-hidden bg-[#2A4B90] rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#00AAD2]  before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Trabaja con nosotros</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormReclamos /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_RECLAMOS}
                            class="flex items-center p-3 text-base font-bold relative py-2 px-8 text-white text-base font-bold nded-full overflow-hidden bg-[#2A4B90] rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#00AAD2]  before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-lg hover:before:left-0"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Reclamos y o Sugerencias</span
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </Container>
</section>