---
import Container from "../shared/Container.astro";
import { CONTACT_TXT, CONTACT_URL } from "../../mock/public-txt";
---

<section id="contact" class="pb-20">
    <Container
        className="flex flex-col midmd:flex-row gap-10 lg:gap-12 text-center"
    >
        <div
            class="mx-auto text-center max-w-xl md:max-w-2xl relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:px-8"
        >
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2
                    class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
                >
                    {CONTACT_TXT.TITLE}
                </h2>
                <ul class="my-4 space-y-3">
                    <li>
                        <!-- <FormMensaje /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_MSJ}
                            class="flex items-center p-3 text-base font-bold text-white bg-[#00AAD2] hover:bg-[#0077b6;] focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Mensajeria</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormVentas /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_VENTAS}
                            class="flex items-center p-3 text-base font-bold text-white bg-[#34537A] hover:bg-[#1f3149] focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Ventas y Servicios</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormMetrogas /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_METRO}
                            class="flex items-center p-3 text-base font-bold text-white bg-[#2A4B90] hover:bg-[#192d56] focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Metrogas</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormTrabaja /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_TRABAJA}
                            class="flex items-center p-3 text-base font-bold text-white bg-[#2A4B90] hover:bg-[#192d56] focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Trabaja con nosotros</span
                            >
                        </a>
                    </li>
                    <li>
                        <!-- <FormReclamos /> -->
                        <a
                            href={CONTACT_URL.URL_FORM_RECLAMOS}
                            class="flex items-center p-3 text-base font-bold text-white bg-[#1A3E51] hover:bg-[#0f2530] focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
                        >
                            <span class="flex-1 ms-3 whitespace-nowrap"
                                >Reclamos y o Sugerencias</span
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </Container>
</section>