---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import { CTA_TXT, REDES_SOCIALES } from "../../mock/public-txt";
---

<section>
  <Container>
    <div
      class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <!-- <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div
          class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
        >
          <span
            class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
          ></span>
        </div>
      </div> -->
      <div class="mx-auto max-w-xl md:max-w-2xl relative">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1 text-center"
        >
          <span class="text-[#2E79BE]">{CTA_TXT.NUESTRA_EMPRESA.TITLE}</span>
        </h1>
        <Paragraph className={"pt-10 text-center md:text-justify"}>
          <span class="font-bold">Q.B. Andina S.A.</span>
          {CTA_TXT.NUESTRA_EMPRESA.DESCRIPTION}
        </Paragraph>
      </div>
      <hr
        class="w-48 h-1 mx-auto my-4 bg-gray-900 border-0 rounded md:my-10 dark:bg-gray-700"
      />
      <div
        class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl text-center"
      >
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 text-center"
        >
          <div>
            <h1
              class="text-lg sm:text-xl md:text-lg xl:text-lg font-bold text-heading-1"
            >
              {CTA_TXT.CONTACTANOS.TITLE}
            </h1>
          </div>
          <div>
            <a
              href={REDES_SOCIALES.WHATSAPP}
              class="text-lg sm:text-xl md:text-lg xl:text-lg font-bold text-heading-1"
            >{CTA_TXT.CONTACTANOS.PHONE}</a>
          </div>
          <div>
            <a
              href={"mailto:" + CTA_TXT.CONTACTANOS.EMAIL}
              class="text-lg sm:text-xl md:text-lg xl:text-lg font-bold text-heading-1"
            >{CTA_TXT.CONTACTANOS.EMAIL}</a>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
