---
import { SERVICES_IMG } from "../../mock/public-img";
import { FEATURES_TXT } from "../../mock/public-txt";
import { MockFeatureDB } from "../../utils/database/Feature-Mock-DB";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section class="relative pt-8 lg:pt-18">
    <div class="text-center max-w-7xl mx-auto mb-12 lg:mb-24">
        <Title>{MockFeatureDB.title}</Title>
        <Container
            className="flex flex-col lg:flex-row gap-10 lg:gap-12 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 p-6 lg:p-12 rounded-lg mt-4"
        >
            <div class="lg:w-1/2 flex items-center justify-center">
                <!-- Añadido: flex y justify-center -->
                <div
                    class="flex flex-col items-center lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-full lg:h-full justify-center items-center lg:mr-0"
                >
                    <!-- Eliminado: lg:text-left y lg:items-start -->
                    <!-- Ajuste de la alineación de los textos -->
                    <p
                        class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4"
                    >
                        {FEATURES_TXT.TITLE}
                    </p>
                    <p
                        class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4"
                    >
                        {FEATURES_TXT.ITM1}
                    </p>
                    <p
                        class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4"
                    >
                        {FEATURES_TXT.ITM2}
                    </p>
                    <p
                        class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4"
                    >
                        {FEATURES_TXT.ITM3}
                    </p>
                    <p
                        class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4"
                    >
                        {FEATURES_TXT.ITM4}
                    </p>
                </div>
            </div>
            <div class="lg:w-1/2">
                <img
                    src={SERVICES_IMG.SERVICES_IMG_1}
                    alt={SERVICES_IMG.ALT_SERVICES_IMG_1}
                    class="w-full h-auto object-cover rounded-lg mx-auto my-auto lg:w-1/2 lg:mr-12 mr-12 sm:w-3/4 sm:mx-auto"
                />
            </div>
        </Container>
    </div>
</section>
