---
import Container from "../../components/shared/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { CONTACT_TXT } from "../../mock/public-txt";
---

<Layout title="Formulario de ventas">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-2 mb-32">
      <Container className={"flex flex-col lg:flex-row gap-32 lg:gap-32"}>
        <form class="max-w-xl mx-auto w-full" id="ventas-form">
          <h3
            class="text-lg font-semibold text-gray-900 dark:text-white mb-5 mt-2"
          >
            {CONTACT_TXT.VENTAS_FORM_TXT.MODAL_TITLE}
          </h3>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="name"
              id="name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.NAME_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="tel"
              name="phone"
              id="phone"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="phone"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.PHONE_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="company"
              id="company"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="company"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.COMPANY_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="email"
              name="email"
              id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.EMAIL_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <textarea
              name="description-ventas"
              id="description-ventas"
              rows="4"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required></textarea>
            <label
              for="description-ventas"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.VENTAS_FORM_TXT.ITEM_DESCRIPTION_LABEL}</label
            >
          </div>
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            {CONTACT_TXT.GENERIC_TEXT_FORM.SUBMIT_BUTTON_TEXT}
          </button>
        </form>
      </Container>
    </div>
  </main>
</Layout>

<script>
  import Swal from "sweetalert2";
  const URL = import.meta.env.BASE_URL;
  console.log(URL)
  document.addEventListener("astro:page-load", () => {
    document
      .getElementById("ventas-form")
      .addEventListener("submit", async function (event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const textArea = document.getElementById("description-ventas").value;
        const data = {
          Nombre: formData.get("name"),
          Telefono: formData.get("phone"),
          Compania: formData.get("company"),
          Email: formData.get("email"),
          Detalles: textArea,
        };
        const message = formatMessage(data);

        await fetch("/api/sendmail", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ message }),
        }).then(
          () => {
            let timerInterval;
            Swal.fire({
              title: "¡Enviado!",
              text: "Tu mensaje ha sido enviado correctamente.",
              icon: "success",
              timer: 2000,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                  timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
              },
              willClose: () => {
                clearInterval(timerInterval);
              },
            }).then((result) => {
              window.location.reload();
              window.location.href = URL;
            });
          },
          (err) => {
            Swal.fire({
              title: "Error",
              text: JSON.stringify(err),
              icon: "error",
            });
          }
        );
        console.log(response);
      });
  });

  function formatMessage(data) {
    return `
        Nombre: ${data.Nombre}
        Teléfono: ${data.Telefono}
        Compañía: ${data.Compania}
        Email: ${data.Email}
        Detalles: ${data.Detalles}
    `;
  }
</script>
