---
import Container from "../../components/shared/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { CONTACT_TXT } from "../../mock/public-txt";
import { PUBLIC_RECAPTCHA_SITE_KEY } from "astro:env/client";
---

<Layout title="Formulario de ventas">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-2 mb-32">
      <Container className={"flex flex-col lg:flex-row gap-32 lg:gap-32"}>
        <form class="max-w-xl mx-auto w-full" id="reclamos-form">
          <h3
            class="text-lg font-semibold text-gray-900 dark:text-white mb-5 mt-2"
          >
            {CONTACT_TXT.RECLAMOS_FORM_TXT.MODAL_TITLE}
          </h3>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="name"
              id="name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.NAME_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="tel"
              name="phone"
              id="phone"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="phone"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.PHONE_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="company"
              id="company"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="company"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.COMPANY_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="email"
              name="email"
              id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.EMAIL_LABEL}</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <textarea
              name="description-reclamos"
              id="description-reclamos"
              rows="4"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required></textarea>
            <label
              for="description-reclamos"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >{
                CONTACT_TXT.RECLAMOS_FORM_TXT.ITEM_DESCRIPTION_PLACEHOLDER
              }</label
            >
          </div>
          <div class="g-recaptcha" data-sitekey={PUBLIC_RECAPTCHA_SITE_KEY}>
          </div>
          <button
            type="submit"
            id="submit-button-rclm"
            class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center justify-center"
          >
            <svg
              id="spinner"
              aria-hidden="true"
              role="status"
              class="inline w-4 h-4 me-3 text-white animate-spin hidden"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB"></path>
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor"></path>
            </svg>
            <span id="button-text-reclamos"
              >{CONTACT_TXT.GENERIC_TEXT_FORM.SUBMIT_BUTTON_TEXT}</span
            >
          </button>
        </form>
      </Container>
    </div>
  </main>
</Layout>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
  import emailjs from "@emailjs/browser";
  import Swal from "sweetalert2";
  import {
    PUBLIC_SERVICE_ID,
    PUBLIC_TEMPLATE_ID,
    PUBLIC_KEY,
  } from "astro:env/client";

  const URL = import.meta.env.BASE_URL;

  document.addEventListener("astro:page-load", () => {
    document
      .getElementById("reclamos-form")
      .addEventListener("submit", async function (event) {
        event.preventDefault();

        const submitButton = document.getElementById("submit-button-rclm");
        const spinner = submitButton.querySelector("#spinner");
        const buttonText = submitButton.querySelector("#button-text-reclamos");
        const originalText = buttonText.textContent;

        submitButton.disabled = true;
        spinner.classList.remove("hidden");
        buttonText.textContent = "Enviando...";

        const recaptchaResponse = grecaptcha.getResponse();

        if (!recaptchaResponse) {
          Swal.fire({
            title: "Error",
            text: "Por favor, verifica que no eres un robot.",
            icon: "error",
            showConfirmButton: false,
            timer: 2500,
          });
          resetButton();
          return;
        }

        const formData = new FormData(event.target);
        const textArea = document.getElementById("description-reclamos").value;
        const data = {
          Nombre: formData.get("name"),
          Telefono: formData.get("phone"),
          Compania: formData.get("company"),
          Email: formData.get("email"),
          Detalles: textArea,
        };
        const message = formatMessage(data);

        emailjs
          .send(
            PUBLIC_SERVICE_ID,
            PUBLIC_TEMPLATE_ID,
            {
              from_name: "Q.B Formulario de Contacto - Reclamo",
              message: message,
              "g-recaptcha-response": recaptchaResponse,
            },
            { publicKey: PUBLIC_KEY }
          )
          .then(
            () => {
              let timerInterval;
              Swal.fire({
                title: "¡Enviado!",
                text: "Tu mensaje ha sido enviado correctamente.",
                icon: "success",
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading();
                  const timer = Swal.getPopup().querySelector("b");
                  timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                  }, 100);
                },
                willClose: () => {
                  clearInterval(timerInterval);
                },
              }).then(() => {
                window.location.reload();
                window.location.href = URL;
              });
            },
            (err) => {
              Swal.fire({
                title: "Error",
                text: JSON.stringify(err),
                icon: "error",
              });
              resetButton();
            }
          );
        function resetButton() {
          submitButton.disabled = false;
          spinner.classList.add("hidden");
          buttonText.textContent = originalText;
        }
      });
  });

  function formatMessage(data) {
    return `
      Nombre: ${data.Nombre}
      Teléfono: ${data.Telefono}
      Compañía: ${data.Compania}
      Email: ${data.Email}
      Detalles del reclamo: ${data.Detalles}
    `;
  }
</script>

<style>
  .hidden {
    display: none;
  }
</style>
