---
import Container from "../../components/shared/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { CONTACT_TXT } from "../../mock/public-txt";
---

<Layout title="Formulario de Mensajes">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-2 mb-8">
            <Container className={"flex flex-col lg:flex-row gap-32 lg:gap-32"}>
                <form class="max-w-xl mx-auto w-full" id="mensajes-form">
                    <h3
                        class="text-lg font-semibold text-gray-900 dark:text-white mb-5 mt-2"
                    >
                        {CONTACT_TXT.MENSAJERIA_FORM_TXT.MODAL_TITLE}
                    </h3>
                    <div class="relative z-0 w-full mb-5 group">
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            required
                        />
                        <label
                            for="name"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >
                            {CONTACT_TXT.GENERIC_TEXT_FORM.NAME_LABEL}
                        </label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input
                            type="tel"
                            name="phone"
                            id="phone"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            required
                        />
                        <label
                            for="phone"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >
                            {CONTACT_TXT.GENERIC_TEXT_FORM.PHONE_LABEL}
                        </label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input
                            type="text"
                            name="company"
                            id="company"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            required
                        />
                        <label
                            for="company"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >{
                                CONTACT_TXT.GENERIC_TEXT_FORM.COMPANY_LABEL
                            }</label
                        >
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            required
                        />
                        <label
                            for="email"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >{CONTACT_TXT.GENERIC_TEXT_FORM.EMAIL_LABEL}</label
                        >
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group mt-6">
                            <input
                                type="text"
                                name="dropoff-address"
                                id="dropoff-address"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" "
                                required
                            />
                            <label
                                for="dropoff-address"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >{
                                    CONTACT_TXT.MENSAJERIA_FORM_TXT
                                        .DROPOFF_ADDRESS_LABEL
                                }</label
                            >
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <label
                                for="dropoff-location"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                >{
                                    CONTACT_TXT.MENSAJERIA_FORM_TXT
                                        .DROPOFF_LOCATION_LABEL
                                }</label
                            >
                            <select
                                id="dropoff-location"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required
                            >
                                <option value="option1">Opción 1</option>
                                <option value="option2">Opción 2</option>
                                <option value="option3">Opción 3</option>
                                <option value="option4">Opción 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group mt-6">
                            <input
                                type="text"
                                name="pickup-address"
                                id="pickup-address"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" "
                                required
                            />
                            <label
                                for="pickup-address"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >{
                                    CONTACT_TXT.MENSAJERIA_FORM_TXT
                                        .PICKUP_ADDRESS_LABEL
                                }</label
                            >
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <label
                                for="pickup-location"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                >{
                                    CONTACT_TXT.MENSAJERIA_FORM_TXT
                                        .PICKUP_LOCATION_LABEL
                                }</label
                            >
                            <select
                                id="pickup-location"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required
                            >
                                <option value="option1">Opción 1</option>
                                <option value="option2">Opción 2</option>
                                <option value="option3">Opción 3</option>
                                <option value="option4">Opción 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <textarea
                            id="description"
                            rows="4"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            required></textarea>
                        <label
                            for="description"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >{
                                CONTACT_TXT.MENSAJERIA_FORM_TXT
                                    .ITEM_DESCRIPTION_LABEL
                            }</label
                        >
                    </div>
                    <button
                        type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        {CONTACT_TXT.GENERIC_TEXT_FORM.SUBMIT_BUTTON_TEXT}
                    </button>
                </form>
            </Container>
        </div>
    </main>
</Layout>

<script>
    import {
        PUBLIC_SERVICE_ID,
        PUBLIC_TEMPLATE_ID,
        PUBLIC_KEY,
    } from "astro:env/client";
    import emailjs from "@emailjs/browser";
    import Swal from "sweetalert2";
    const URL = import.meta.env.BASE_URL;
    console.log(URL);

    document.addEventListener("astro:page-load", () => {
        document
            .getElementById("mensajes-form")
            .addEventListener("submit", function (event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                const entregaSelect =
                    document.getElementById("dropoff-location");
                const retiroSelect = document.getElementById("pickup-location");
                const textArea = document.getElementById("description").value;
                const data = {
                    Nombre: formData.get("name"),
                    Telefono: formData.get("phone"),
                    Compania: formData.get("company"),
                    Email: formData.get("email"),
                    DomicilioEntrega: formData.get("dropoff-address"),
                    LocalidadEntrega:
                        entregaSelect.options[entregaSelect.selectedIndex].text,
                    DomicilioRetiro: formData.get("pickup-address"),
                    LocalidadRetiro:
                        retiroSelect.options[retiroSelect.selectedIndex].text,
                    Detalles: textArea,
                };

                const message = formatMessage(data);

                emailjs
                    .send(
                        PUBLIC_SERVICE_ID,
                        PUBLIC_TEMPLATE_ID,
                        {
                            from_name: `Q.B Formulario de Contacto - Mensajeria`,
                            message: message,
                        },
                        {
                            publicKey: PUBLIC_KEY,
                        },
                    )
                    .then(
                        () => {
                            let timerInterval;
                            Swal.fire({
                                title: "¡Enviado!",
                                text: "Tu mensaje ha sido enviado correctamente.",
                                icon: "success",
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                    const timer =
                                        Swal.getPopup().querySelector("b");
                                    timerInterval = setInterval(() => {
                                        timer.textContent = `${Swal.getTimerLeft()}`;
                                    }, 100);
                                },
                                willClose: () => {
                                    clearInterval(timerInterval);
                                },
                            }).then((result) => {
                                window.location.reload();
                                window.location.href = URL;
                            });
                        },
                        (err) => {
                            Swal.fire({
                                title: "Error",
                                text: JSON.stringify(err),
                                icon: "error",
                            });
                        },
                    );
            });
    });

    function formatMessage(data) {
        return `
        Nombre: ${data.Nombre}
        Teléfono: ${data.Telefono}
        Compañía: ${data.Compania}
        Email: ${data.Email}
        Domicilio de Entrega: ${data.DomicilioEntrega}
        Localidad de Entrega: ${data.LocalidadEntrega}
        Domicilio de Retiro: ${data.DomicilioRetiro}
        Localidad de Retiro: ${data.LocalidadRetiro}
        Detalles: ${data.Detalles}
    `;
    }
</script>
