---
import { SERVICES_IMG } from "../../../mock/public-img";
import { FEATURES_TXT, SERVICES_TXT } from "../../../mock/public-txt";
import Container from "../../shared/Container.astro";
import Title from "../../shared/Title.astro";
---

<section id="services">
    <Container>
        <div class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl">
            <div class="absolute right-0 top-0 h-full w-full flex justify-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <div class="relative pt-20 lg:pt-20">
                <div
                    class="relative animate-fade-left animate-once animate-delay-[400ms] animate-ease-in animate-normal animate-fill-backwards mb-10"
                >
                    <div class="text-center max-w-3xl mx-auto mb-12">
                        <Title>Nuestros Servicios</Title>
                    </div>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:gap-8">
                        {
                            [
                                {
                                    url: 'https://cdn-icons-png.flaticon.com/512/4715/4715294.png',
                                    alt: SERVICES_IMG.LOGISTICA_ALT,
                                    text: SERVICES_TXT.ITM1,
                                },
                                {
                                    url: 'https://cdn-icons-png.flaticon.com/512/3250/3250735.png',
                                    alt: SERVICES_IMG.LUZ_ALT,
                                    text: [
                                        SERVICES_TXT.ITM2.ITM2_1,
                                        SERVICES_TXT.ITM2.ITM2_2,
                                        SERVICES_TXT.ITM2.ITM2_3,
                                    ],
                                },
                                {
                                    url: 'https://cdn-icons-png.flaticon.com/512/2296/2296796.png',
                                    alt: SERVICES_IMG.GAS_ALT,
                                    text: [
                                        SERVICES_TXT.ITM3.ITM3_1,
                                        SERVICES_TXT.ITM3.ITM3_2,
                                        SERVICES_TXT.ITM3.ITM3_3,
                                    ],
                                },
                                {
                                    url: 'https://cdn-icons-png.flaticon.com/512/2373/2373627.png',
                                    alt: SERVICES_IMG.AGUA_ALT,
                                    text: SERVICES_TXT.ITM4,
                                },
                            ].map((service) => (
                                <div class="flex flex-col items-center">
                                    <img
                                        class="icon-size mb-4"
                                        src={service.url}
                                        alt={service.alt}
                                        loading="lazy"
                                    />
                                    <div class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-600 text-center flex justify-center items-center fixed-size">
                                        {typeof service.text === "string" ? (
                                            <p class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white">
                                                {service.text}
                                            </p>
                                        ) : (
                                            <p class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white">
                                                {service.text.map(
                                                    (item, index) => (
                                                        <fragment key={index}>
                                                            {item}
                                                            {index !==
                                                                service.text
                                                                    .length -
                                                                    1 && <br />}
                                                        </fragment>
                                                    ),
                                                )}
                                            </p>
                                        )}
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                    <div class="flex flex-col lg:flex-row gap-10 lg:gap-12 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 p-6 lg:p-12 rounded-lg mt-6">
                        <div class="lg:w-1/2 flex items-center justify-center">
                          <div class="flex flex-col items-center lg:max-w-3xl mx-auto lg:flex-1 lg:h-full justify-center">
                            <p class="text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4">{FEATURES_TXT.TITLE}</p>
                            <p class="text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4">{FEATURES_TXT.ITM1}</p>
                            <p class="text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4">{FEATURES_TXT.ITM2}</p>
                            <p class="text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4">{FEATURES_TXT.ITM3}</p>
                            <p class="text-sm lg:text-base text-gray-900 dark:text-white text-center mb-4">{FEATURES_TXT.ITM4}</p>
                          </div>
                        </div>
                        <div class="lg:w-1/2 flex items-center">
                          <img src={SERVICES_IMG.SERVICES_IMG_1} alt={SERVICES_IMG.ALT_SERVICES_IMG_1} class="w-full h-auto object-cover rounded-lg mx-auto lg:max-w-none lg:ml-auto lg:mr-0 sm:w-3/4 sm:mx-auto" />
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </Container>
</section>

<style>
    .icon-size {
        width: 130px;
        height: 130px;
    }
    .fixed-size {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }
</style>
