---
import Container from "../components/shared/Container.astro";
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
import { CONSULTING_IMG } from "../mock/public-img";
---

<Layout title="Consultoria">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <Container className={"flex flex-col lg:flex-row gap-32 lg:gap-32"}>
            <div class="absolute right-0 top-0 h-full w-full flex justify-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <section class="relative pt-32 lg:pt-36">
                <section
                    class="relative animate-fade-left animate-once animate-delay-[400ms] animate-ease-in animate-normal animate-fill-backwards mb-10"
                    id="nuestra-consultoria"
                >
                    <div class="text-center max-w-3xl mx-auto mb-24">
                        <Title>Consultoria</Title>
                    </div>
                    <div
                        class="grid grid-cols-2 md:grid-cols-4 gap-8 lg:gap-12"
                    >
                        <div class="rounded-full">
                            <img
                                class="h-auto max-w-full object-cover dark:flex md:mb-32 sm:mb-0"
                                src={CONSULTING_IMG.DESARROLLO_HUMANO_URL}
                                alt={CONSULTING_IMG.DESARROLLO_HUMANO_ALT}
                            />
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-700 md:text-left mt-4 text-center min-h-[300px] flex justify-center items-center"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center"
                                >
                                    Inducción a la Seguridad, Prevención y Lucha
                                    Contra Incendios, Riesgo Eléctrico, Trabajo
                                    en Altura.
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full">
                            <img
                                class="h-auto max-w-full object-cover dark:flex md:mb-32 sm:mb-0"
                                src={CONSULTING_IMG.CONTROL_CALIDAD_URL}
                                alt={CONSULTING_IMG.CONTROL_CALIDAD_ALT}
                            />
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-800 md:text-left mt-4 text-center min-h-[300px] flex justify-center items-center"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center"
                                >
                                    Sistema de Gestión: Implementación y
                                    Certificación de ISO 9001 para Gestión de la
                                    Calidad, ISO 14001 para Gestión Ambiental, y
                                    OHSAS 18001 para Seguridad y Salud en el
                                    Trabajo.
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full">
                            <img
                                class="h-auto max-w-full object-cover dark:flex md:mb-32 sm:mb-0"
                                src={CONSULTING_IMG.SISTEMA_DE_GESTION_URL}
                                alt={CONSULTING_IMG.SISTEMA_DE_GESTION_ALT}
                            />
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center min-h-[300px] flex justify-center items-center"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center"
                                >
                                    Sistema de Gestión.
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full">
                            <img
                                class="h-auto max-w-full object-cover dark:flex md:mb-32 sm:mb-0"
                                src={CONSULTING_IMG.SEGURIDAD_SALUD_URL}
                                alt={CONSULTING_IMG.SEGURIDAD_SALUD_ALT}
                            />
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center min-h-[300px] flex justify-center items-center"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white text-center"
                                >
                                    Seguridad y Salud Ocupacional, Desarrollo
                                    Humano
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </Container>
    </main>
</Layout>
