---
import Features from "../components/sections/Features.astro";
import Container from "../components/shared/Container.astro";
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
import { SERVICES_IMG } from "../mock/public-img";
import { SERVICES_TXT } from "../mock/public-txt";
---

<Layout title="Servicios">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden mb-12">
        <Container className={"flex flex-col lg:flex-row gap-16 lg:gap-16"}>
            <div class="absolute right-0 top-0 h-full w-full flex justify-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <section class="relative">
                <section
                    class="relative animate-fade-left animate-once animate-delay-[400ms] animate-ease-in animate-normal animate-fill-backwards mb-10"
                    id="nuestra-info"
                >
                    <div class="text-center max-w-3xl mx-auto mb-12">
                        <Title>Nuestros Servicios</Title>
                    </div>

                    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:gap-8">
                        <div class="flex flex-col items-center">
                            <img
                                class="icon-size mb-4"
                                src={SERVICES_IMG.LOGISTICA_URL}
                                alt={SERVICES_IMG.LOGISTICA_ALT}
                                loading="lazy"
                            />
                            <div
                                class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-600 text-center flex justify-center items-center fixed-size"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white"
                                >
                                    {SERVICES_TXT.LOGISTICA_TXT.ITM1_1}
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <img
                                class="icon-size mb-4"
                                src={SERVICES_IMG.LUZ_URL}
                                alt={SERVICES_IMG.LUZ_ALT}
                                loading="lazy"
                            />
                            <div
                                class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-700 text-center flex justify-center items-center fixed-size"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white"
                                >
                                    {SERVICES_TXT.LUZ_TXT.ITM2_1}
                                    <br />
                                    {SERVICES_TXT.LUZ_TXT.ITM2_1}<br />
                                    {SERVICES_TXT.LUZ_TXT.ITM2_3}
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <img
                                class="icon-size mb-4"
                                src={SERVICES_IMG.GAS_URL}
                                alt={SERVICES_IMG.GAS_ALT}
                                loading="lazy"
                            />
                            <div
                                class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-800 text-center flex justify-center items-center fixed-size"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white"
                                >
                                    {SERVICES_TXT.GAS_TXT.ITM3_1}
                                    <br />
                                    {SERVICES_TXT.GAS_TXT.ITM3_2}<br />
                                    {SERVICES_TXT.GAS_TXT.ITM3_3}
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <img
                                class="icon-size mb-4"
                                src={SERVICES_IMG.AGUA_URL}
                                alt={SERVICES_IMG.AGUA_ALT}
                                loading="lazy"
                            />
                            <div
                                class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 text-center flex justify-center items-center fixed-size"
                            >
                                <p
                                    class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white"
                                >
                                    {SERVICES_TXT.AGUA_TXT}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </Container>
        <Features />
    </main>
</Layout>

<style>
    .icon-size {
        width: 130px;
        height: 130px;
    }
    .fixed-size {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }
</style>
